.frontpage-container {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    height: 100vh;
    padding: 10px 50px;
    background-image: url('/images/DeWatermark.ai_1723608030530.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0); /* Adjust text color for better visibility */
  }
  
  .content-container {
    max-width: 40%;
    background-color: rgba(175, 171, 171, 0.808); /* Optional: add a semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
  }
  
  .content-container h1 {
    font-size: 2.5rem;
    color: #ffffff; /* Adjust text color for better visibility */
  }
  
  .content-container p {
    font-size: 1.2rem;
    color: #fafafa; /* Adjust text color for better visibility */
    margin: 20px 0;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .button-group a {
    margin-right: 30px;
  }
  
  .image-container {
    display: none; /* Hide the original image as it's now used as a background */
  }
  